p{
    color: aqua;
}

#text-color{
color: aquamarine;
}

.text{
    color: blue;
}

.color{
    color: brown;
}

.ttxx .ccll{
    color: chartreuse;
}

.cvet{
    color: coral;
}

.color-color{
    color: crimson;
}

.colorr{
    color: darkmagenta;
}

.cvet-cvet{
    color: darkslategrey;
}

.politra{
    color: fuchsia;
}